<h1 class="Heading Heading--1">Projects</h1>

<div class="p-2 border border-gray-300 bg-gray-200 rounded">
  <div class="flex flex-wrap">

    <%= render FiggisWeb.ProjectView,
      "_card.html",
      project: %{name: "New Project"},
      conn: @conn
    %>

    <%= render_many @projects, FiggisWeb.ProjectView, "_card.html", conn: @conn %>
  </div>
</div>
